<div class="custom-gallery-wrapper">
  <!-- Main Gallery -->
  <div class="swiper custom-gallery-main">
    <div class="swiper-wrapper">
      {% for media in product.media %}
        <div class="swiper-slide">
          {{ media | image_url: width: 1600 | image_tag: loading: 'lazy', class: 'custom-gallery-media-image' }}
        </div>
      {% endfor %}
    </div>

    <!-- Arrows -->
    <div class="swiper-button-prev custom-gallery-prev">
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M41.9992 28C41.9992 28.4641 41.8148 28.9093 41.4867 29.2375C41.1585 29.5656 40.7134 29.75 40.2492 29.75H19.9737L27.4882 37.261C27.6509 37.4237 27.78 37.6169 27.8681 37.8295C27.9561 38.0421 28.0014 38.2699 28.0014 38.5C28.0014 38.7301 27.9561 38.958 27.8681 39.1706C27.78 39.3831 27.6509 39.5763 27.4882 39.739C27.3255 39.9017 27.1324 40.0308 26.9198 40.1188C26.7072 40.2069 26.4793 40.2522 26.2492 40.2522C26.0191 40.2522 25.7913 40.2069 25.5787 40.1188C25.3661 40.0308 25.1729 39.9017 25.0102 39.739L14.5102 29.239C14.3473 29.0765 14.218 28.8833 14.1297 28.6707C14.0415 28.4581 13.9961 28.2302 13.9961 28C13.9961 27.7698 14.0415 27.5419 14.1297 27.3293C14.218 27.1167 14.3473 26.9236 14.5102 26.761L25.0102 16.261C25.3388 15.9324 25.7845 15.7478 26.2492 15.7478C26.7139 15.7478 27.1596 15.9324 27.4882 16.261C27.8168 16.5896 28.0014 17.0353 28.0014 17.5C28.0014 17.9647 27.8168 18.4104 27.4882 18.739L19.9737 26.25H40.2492C40.7134 26.25 41.1585 26.4344 41.4867 26.7626C41.8148 27.0908 41.9992 27.5359 41.9992 28Z" fill="#4A2E20"/>
        </svg>
    </div>
    <div class="swiper-button-next custom-gallery-next">
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0008 28C14.0008 28.4641 14.1852 28.9093 14.5133 29.2375C14.8415 29.5656 15.2866 29.75 15.7508 29.75H36.0263L28.5118 37.261C28.3491 37.4237 28.22 37.6169 28.1319 37.8295C28.0439 38.0421 27.9986 38.2699 27.9986 38.5C27.9986 38.7301 28.0439 38.958 28.1319 39.1706C28.22 39.3831 28.3491 39.5763 28.5118 39.739C28.6745 39.9017 28.8676 40.0308 29.0802 40.1188C29.2928 40.2069 29.5207 40.2522 29.7508 40.2522C29.9809 40.2522 30.2087 40.2069 30.4213 40.1188C30.6339 40.0308 30.8271 39.9017 30.9898 39.739L41.4898 29.239C41.6527 29.0765 41.782 28.8833 41.8703 28.6707C41.9585 28.4581 42.0039 28.2302 42.0039 28C42.0039 27.7698 41.9585 27.5419 41.8703 27.3293C41.782 27.1167 41.6527 26.9236 41.4898 26.761L30.9898 16.261C30.6612 15.9324 30.2155 15.7478 29.7508 15.7478C29.2861 15.7478 28.8404 15.9324 28.5118 16.261C28.1832 16.5896 27.9986 17.0353 27.9986 17.5C27.9986 17.9647 28.1832 18.4104 28.5118 18.739L36.0263 26.25H15.7508C15.2866 26.25 14.8415 26.4344 14.5133 26.7626C14.1852 27.0908 14.0008 27.5359 14.0008 28Z" fill="#4A2E20"/>
        </svg>
    </div>
  </div>

  <!-- Thumbnails (desktop only) -->
  <div class="swiper custom-gallery-thumbnails">
    <div class="swiper-wrapper">
      {% for media in product.media %}
        <div class="swiper-slide">
          {{ media | image_url: width: 100 | image_tag: loading: 'lazy', class: 'custom-gallery-thumbnail-image' }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="custom-gallery-single-image">
  {{ product.featured_media | image_url: width: 800 | image_tag: loading: 'lazy', class: 'product-media-image' }}
</div>
