.product--no-media .rating-wrapper {
  text-align: center;
}

.rating__wrapper {
  display: flex;
  gap: 0.5rem;
  margin: 0 !important;
  align-items: center;
}

.rating {
  display: inline-block;
  margin: 0 !important;
}

.product .rating-star {
  --letter-spacing: 0;
  --font-size: 1.6;
}

.card-wrapper .rating-star {
  --letter-spacing: 0;
  --font-size: 1.6;
}

.rating-star {
  --color-rating-star: #F4A72C;
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  display: inline-block;
  margin: 0;
}

.rating-star::before {
  content: url('https://cdn.shopify.com/s/files/1/2714/9868/files/Custom-Stars.svg');
  background: linear-gradient(
    90deg,
    var(--color-rating-star) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0 !important;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
