.product--no-media .rating-wrapper {
  text-align: center;
}

.rating__wrapper {
  display: flex;
  gap: 0.75rem;
  margin: 0 !important;
  align-items: center;
}

.rating {
  display: inline-block;
  margin: 0 !important;
  line-height: 1;
}

.product .rating-star {
  --letter-spacing: 0;
  --font-size: 1.6;
}

.card-wrapper .rating-star {
  --letter-spacing: 0;
  --font-size: 1.6;
}

.rating-star{
  --star-size:16px;
  --rating-max:5;
  position:relative;
  display:inline-block;
  width:calc(var(--star-size) * var(--rating-max));
  height:var(--star-size);
  background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 12'><path d='M11.7857 4.60561L11.8314 4.74904C11.869 4.8573 11.8373 4.97761 11.7513 5.05311L8.97068 7.43407L9.79455 11.0026C9.82243 11.1167 9.77963 11.2364 9.68583 11.3067L9.55995 11.3928C9.51107 11.4312 9.45043 11.4515 9.38835 11.4501C9.33591 11.4512 9.28433 11.4373 9.23958 11.41L6.10991 9.49948L2.99742 11.41C2.95267 11.4373 2.90105 11.4512 2.84866 11.4501C2.78656 11.4515 2.72591 11.4312 2.67702 11.3928L2.53398 11.3067C2.44018 11.2364 2.39738 11.1167 2.42527 11.0026L3.24917 7.43407L0.474244 5.05885C0.383751 4.9838 0.349496 4.86014 0.388422 4.74904L0.451358 4.60561C0.484822 4.49225 0.585431 4.41201 0.703104 4.40481L4.35914 4.11221L5.7609 0.732972C5.80582 0.620749 5.91495 0.547793 6.03554 0.54938H6.18427C6.30378 0.546837 6.41176 0.620549 6.45318 0.732972L7.87785 4.11221L11.5339 4.40481C11.6516 4.41201 11.7522 4.49225 11.7857 4.60561ZM8.46718 9.76339L7.82639 7.07837L9.92616 5.2826L7.17412 5.06459L6.10991 2.50578V8.32335L8.46718 9.76339Z' fill='none' stroke='%23FFCA41' stroke-width='1' stroke-linejoin='round'/></svg>")
    repeat-x left / var(--star-size) var(--star-size);
}
.rating-star::before{
  content:"";
  position:absolute; inset:0;
  width:calc((var(--rating) + var(--rating-decimal,0)) / var(--rating-max) * 100%);
  background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 12'><path d='M5.89023 0.932372C6.08744 0.463949 6.75913 0.463949 6.95635 0.932373L8.1203 3.69709C8.20349 3.89457 8.39148 4.02949 8.60727 4.04659L11.6285 4.28587C12.1404 4.32642 12.348 4.95751 11.958 5.28755L9.6561 7.2355C9.4917 7.37466 9.41986 7.593 9.47009 7.80101L10.1733 10.7136C10.2925 11.2071 9.74911 11.5972 9.31085 11.3327L6.72423 9.77188C6.53947 9.66039 6.30711 9.66039 6.12236 9.77188L3.53572 11.3327C3.09747 11.5972 2.55406 11.2071 2.67321 10.7136L3.37648 7.80101C3.42671 7.593 3.3549 7.37466 3.19049 7.2355L0.888596 5.28755C0.498589 4.95751 0.706154 4.32642 1.21805 4.28587L4.23932 4.04659C4.45512 4.02949 4.64311 3.89457 4.72625 3.69709L5.89023 0.932372Z' fill='%23FFCA41'/></svg>")
    repeat-x left / var(--star-size) var(--star-size);
  pointer-events:none;
}


.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0 !important;
  letter-spacing: 0;
  line-height: 1;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
